@model SaleDetailsModel

@{
    ViewData["Title"] = "Sale Details";
}

<h2>@ViewData["Title"]</h2>

<h3>@Model.CustomerName</h3>
<p><b>Discount: </b>@(Model.Discount.ToPercentage())</p>
<p><b>Price with discount: </b>@Model.DiscountedPrice.ToPrice()</p>
<h3>Car info</h3>
<p>@Model.Car.Make - @Model.Car.Model</p>
<p>@(Model.Car.TravelledDistance.ToKilometers())</p>
<a class="btn btn-sm btn-default" href="/sales">Back</a>